@{
    ViewBag.Title = "About Me";
}
<head>
    <link href="~/Content/timeline.css" rel="stylesheet" />
</head>
<a name="top"></a>
<h2></h2>

<div class="container">

    <!--Intro here with image, skills box-->
    <br />
    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/Images/IMG_2331.jpg" width="275" class="img-responsive, img-rounded" align="bottom" />
        </div>
        <div class="col-md-5">
            <br /><br /><br />
            <h2 align="center">I just graduated from We Can Code IT coding bootcamp and I'm looking for a software engineer position.</h2>
            <p></p>
        </div>

        <!--skills box-->
        <div class="col-md-4, badge">
            <br />
            <h2>I like working with:</h2>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>C#</li>
                        <li>.NET</li>
                        <li>OOP</li>
                        <li>Visual Studio</li>
                        <li>GitHub</li>
                        <li>dogs</li>
                        <li>MVC</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>SQL</li>
                        <li>Java</li>
                        <li>Android Studio</li>
                        <li>RWD</li>
                        <li>Javascript</li>
                        <li>JQuery</li>
                        <li>Trello</li>
                        <li>cool people</li>
                        <li>new tech</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <br /><br />


    <!--timeline below-->
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h3 align="center">What I've been up to the past 5 years</h3>
            <br />
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <ul class="timeline">

        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-right">2010</p>
                </div>
                <div class="timeline-body">
                    <img src="~/Content/Images/IMG_2346.jpg" width="150" class="img-responsive, img-circle" align="right" />
                    <p align="left">I was working in France as an English teaching assistant, got engaged, moved back to Ohio, and reunited with my cat, Bob</p>
                </div>

            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="fa fa-circle invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-left">March 2011</p>
                </div>
                <div class="timeline-body">
                    <p>Started working as a Customer Service Representative at Touchstone Group Associates and after several months was promoted to Associate Program Manager</p>
                    <img src="~/Content/Images/IMG_2363.jpg" width="150" class="img-responsive, img-circle" align="right" />
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>

            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-right">January 2012</p>
                </div>
                <div class="timeline-body" align="center">
                    <p align="left">Adopted this adorable dog named Patsy</p>
                    <img src="~/Content/Images/IMG_2345.jpg" width="175" class="img-responsive, img-circle" align="middle" />
                </div>


            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="fa fa-circle invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-left">December 2012</p>
                </div>
                <div class="timeline-body">
                    <p>Moved to Cleveland to be near family and started working as an Interactive Project Manager at NAS Recruitment</p>
                    <img src="~/Content/Images/IMG_2364.jpg" width="160" class="img-responsive, img-circle" align="left" />
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-right">September 2014</p>
                </div>
                <div class="timeline-body">
                    <p>Left NAS to look into other career options, but they offered me a part-time, remote role I couldn't turn down</p>
                    <img src="~/Content/Images/IMG_2362.jpg" width="150" class="img-responsive, img-circle" align="right" />
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="fa fa-circle invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-left">February 2015</p>
                </div>
                <div class="timeline-body">
                    <img src="~/Content/Images/IMG_2340.jpg" width="160" class="img-responsive, img-circle" align="right" />
                    <p align="right">Adopted this adorable little dog named Mini</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-time">
                    <p class="text-right">September 2015</p>
                </div>
                <div class="timeline-body">
                    <p>Finally took a leap forward in a new direction for my career by joining the We Can {Code} IT bootcamp</p>
                    <img src="~/Content/Images/IMG_2326.jpg" width="160" class="img-responsive, img-circle" align="right" />
                </div>
            </div>
        </li>

        <li class="clearfix no-float"></li>
    </ul>

    <!--link back to top (centered)-->
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h3 align="center"><a href="#top">And now, here we are...</a></h3>
            <br />
        </div>
        <div class="col-md-4">

        </div>
    </div>


</div>
