@{
    ViewBag.Title = "Home Page";

}
<head>
    <!-- Custom Katie Home styles -->
    <link href="~/Content/KtCssHome.css" rel="stylesheet" />

</head>


<div class="container">

    <a href="~/Home/About" id="full-link" class="whole-page">About</a>
</div>

